<button class="btn link-secondary px-0 d-none d-{{ inner_desktop }}-flex shadow-none" type="button" data-toggle="inner-sidebar-collapse">
  <svg width="16" height="20" viewBox="0 0 16 16" stroke="currentColor" stroke-width="2">
    <line x1="0" x2="16" y1="3" y2="3"></line><line x1="0" x2="8" y1="8" y2="8"></line><line x1="0" x2="16" y1="13" y2="13"></line>
  </svg>
</button>
<button class="btn link-secondary px-0 d-flex d-{{ inner_desktop }}-none shadow-none" type="button" data-toggle="inner-sidebar-expand">
  <svg width="16" height="20" viewBox="0 0 16 16" stroke="currentColor" stroke-width="2">
    <line x1="0" x2="16" y1="3" y2="3"></line><line x1="0" x2="16" y1="8" y2="8"></line><line x1="0" x2="16" y1="13" y2="13"></line>
  </svg>
</button>