<span class="d-none d-sm-inline-block">
  @svg('node_modules/heroicons/outline/eye.svg', 'width="16" height="16"')
  {{ views }}
</span>
<span>
  @svg('node_modules/heroicons/outline/chat.svg', 'width="16" height="16"')
  {{ comments }}
</span>