@if(active)
<a href="javascript:void(0)" class="nav-link link-secondary d-flex align-items-center gap-3 px-3 text-dark fw-bold">
  @svg('node_modules/heroicons/outline/{{ icon }}.svg')
  {{ text }}{{{ await $slots.main() }}}
</a>
@else
<a href="javascript:void(0)" class="nav-link link-secondary d-flex align-items-center gap-3 px-3">
  @svg('node_modules/heroicons/outline/{{ icon }}.svg', 'class="text-muted"')
  {{ text }}{{{ await $slots.main() }}}
</a>
@endif