@import "../../node_modules/bootstrap/scss/functions";
@import "bootstrap/variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/@taufik-nurrohman/color-picker/index";

.color-picker {
  margin-top: 2px;
  box-shadow: none;
  > div {
    border-color: $dropdown-border-color;
    padding: .5rem;
    border-radius: $dropdown-border-radius;
    background-color: $dropdown-bg;
    box-shadow: $dropdown-box-shadow;
  }
  &.no-alpha .color-picker\:a {
    display: none;
  }
}