@import "../../node_modules/bootstrap/scss/functions";
@import "bootstrap/variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Make collapse toggler vertically centered
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
  margin-top: -0.6em;
}

// Reduce padding & font size for tr detail in table-sm
table.table-sm.dataTable>tbody>tr.child ul.dtr-details>li {
  padding: 0.1em 0;
  font-size: 90%;
}

// Make detail row full width
table.dataTable > tbody > tr.child ul.dtr-details {
  display: block;
}

.dataTables_wrapper > .row {
  align-items: center;
  @include media-breakpoint-down(sm) {
    gap: .5rem;
  }
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
}