@use "sass:math";
@import "../../node_modules/bootstrap/scss/functions";
@import "bootstrap/variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/nouislider/dist/nouislider";

$noui-size: .25rem;
$noui-handle-width: 1.375rem;
$noui-handle-height: 1.375rem;

// Size
.noUi-horizontal {
  height: $noui-size;
}
.noUi-vertical {
  width: $noui-size;
}

// Bar
.noUi-target {
  border: 0;
  background: $form-range-track-bg;
  box-shadow: none;
}
.noUi-target,
.noUi-connects {
  border-radius: $border-radius;
}
.noUi-connect {
  background: $component-active-bg;
}

// Handle
.noUi-handle {
  border: 0;
  box-shadow: 0 .25rem .375rem -.0625rem rgba($black, .15),0 .125rem .25rem -.0625rem rgba($black, .12),0 -.25rem .375rem -.0625rem rgba($black, .1),0 -.125rem .25rem -.0625rem rgba($black, .06);
  border-radius: 50%;
  &::before,
  &::after {
    display: none;
  }
  &:focus {
    outline: 0;
  }
  .noUi-horizontal & {
    width: $noui-handle-width;
    height: $noui-handle-height;
    cursor: ew-resize;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc((#{$noui-size} - #{$noui-handle-height}) / 2);
    right: math.div($noui-handle-width, 2) * -1;
  }
  .noUi-vertical & {
    width: $noui-handle-height;
    height: $noui-handle-width;
    cursor: ns-resize;
    right: calc((#{$noui-size} - #{$noui-handle-height}) / 2);
    top: math.div($noui-handle-width, 2) * -1;
  }
}

// Tooltip
.noUi-tooltip {
  display: flex;
  color: $tooltip-color;
  border: 0;
  background-color: $tooltip-bg;
  font-size: .75rem;
  font-weight: 500;
  padding: .0625rem .3125rem;
  &::after {
    content: '';
    border: .25rem solid;
    display: inline-block;
    position: absolute;
  }
  .noUi-horizontal & {
    position: static;
    transform: none;
    margin-bottom: 3.375rem;
    &::after {
      border-color: $tooltip-bg transparent transparent;
      top: -.375rem;
      left: 50%;
      margin-left: -.25rem;
    }
  }
  .noUi-vertical & {
    margin-right: .1875rem;
    &::after {
      border-color: transparent transparent transparent $tooltip-bg;
      right: -.5rem;
      top: 50%;
      margin-top: -.25rem;
    }
  }
}

// Color variations
@each $color, $value in $theme-colors {
  @if $color != 'light' and $color != 'secondary' and $color != 'dark' {
    @if $value != $component-active-bg {
      .slider-#{$color} .noUi-connect {
        background: $value;
      }
    }
  }
}
