@import "../../node_modules/bootstrap/scss/functions";
@import "bootstrap/variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

#sidebar {
  &.navbar-dark {
    background-color: #3730A3;
    // Svg icon color
    .navbar-nav .nav-link:not(.active):not(:hover):not(.disabled) > svg {
      color: rgba(#fff, .4);
    }
    // Link active style
    .navbar-nav .show > .nav-link,
    .navbar-nav .nav-link.active {
      background-color: rgba(#000, .2);
      @include border-radius($border-radius);
    }
    // Submenu link active style
    .navbar-nav .navbar-nav .show > .nav-link,
    .navbar-nav .navbar-nav .nav-link.active {
      background-color: transparent;
    }
    // Link color
    .navbar-nav .nav-link:not(.active):not(:hover):not(.disabled) {
      color: rgba(#fff, .7);
    }
    // Submenu link color
    .navbar-nav .navbar-nav .nav-link:not(.active):not(:hover):not(.disabled) {
      color: rgba(#fff, .5);
    }
    // Nav label color
    .nav-label {
      color: rgba(#fff, .4);
    }
    // Badge default color
    .badge:not([class^="bg-"]) {
      background-color: $danger;
    }
  }
}