@import "../../node_modules/bootstrap/scss/functions";
@import "bootstrap/variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/simplebar/dist/simplebar";

$simplebar-track-size: 3px;
$simplebar-track-bg: $gray-200;

.simplebar-track.simplebar-vertical {
  width: $simplebar-track-size;
}
.simplebar-track.simplebar-horizontal {
  height: $simplebar-track-size;
}
.simplebar-scrollbar:before {
  left: 0;
  right: 0;
  border-radius: 0;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  top: 0;
  height: $simplebar-track-size;
}
[data-simplebar-auto-hide="false"] .simplebar-track {
  background-color: $simplebar-track-bg;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  left: 0;
  right: 0;
}