@import "../../node_modules/bootstrap/scss/functions";
@import "bootstrap/variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Container
.note-frame,
.note-popover {
  background-color: $input-bg;
  border-radius: $input-border-radius;
}
.note-frame {
  font-family: $font-family-base;
  color: $input-color;
}
.note-editor.note-frame,
.note-editor.note-airframe {
  border-color: $input-border-color;
}

// Fullscreen
.note-editor.note-frame.fullscreen,
.note-editor.note-airframe.fullscreen {
  background-color: $input-bg;
  border-radius: 0;
  border: 0;
}

// Toolbar & statusbar
.note-toolbar,
.note-editor.note-frame .note-statusbar,
.note-editor.note-airframe .note-statusbar {
  background-color: transparent;
  border: 0;
}

// Air mode
.note-popover {
  font-size: $font-size-sm;
}
.note-popover.bottom {
  padding: 0;
}

// Button
.note-editor {
  .btn.btn-sm {
    border-color: $input-border-color;
    &.active {
      background-color: shade-color($light, 10%);
    }
  }
  .btn-group:not(.open) .dropdown-toggle.btn.btn-sm.active {
    background-color: transparent;
  }
  .btn-group.open .dropdown-toggle.btn.btn-sm.active {
    background-color: shade-color($light, 10%);
  }
}

// Modal
.note-modal-content {
  border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($modal-content-border-radius);
  box-shadow: $modal-content-box-shadow-xs;
  @include media-breakpoint-up(sm) {
    box-shadow: $modal-content-box-shadow-sm-up;
  }
}

// Dropdown
.note-dropdown-menu {
  padding: $dropdown-padding-y $dropdown-padding-x;
  background: $dropdown-bg;
  border: $dropdown-border-width solid $dropdown-border-color;
  box-shadow: $dropdown-box-shadow;
}
a.note-dropdown-item {
  margin: 0 !important;
}

// Spacing
.note-btn-group {
  margin-right: .25rem;
}
.note-popover .popover-content,
.note-editor .note-toolbar {
  padding: 0 0 .25rem .25rem;
}
.note-popover .popover-content > .note-btn-group,
.note-editor .note-toolbar > .note-btn-group {
  margin-top: .25rem;
  margin-right: .25rem;
}
.note-editor.note-frame .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area .note-codable,
.note-editor.note-airframe .note-editing-area .note-editable,
.note-editor.note-airframe .note-editing-area .note-codable {
  padding: $input-padding-y $input-padding-x;
}

// Resizebar
.note-editor.note-frame .note-statusbar .note-resizebar,
.note-editor.note-airframe .note-statusbar .note-resizebar {
  height: .5625rem;
}
.note-editor.note-frame .note-statusbar .note-resizebar .note-icon-bar,
.note-editor.note-airframe .note-statusbar .note-resizebar .note-icon-bar {
  width: 1.25rem;
}

// Color pallete
.note-popover .popover-content .note-color-palette div .note-color-btn,
.note-editor .note-toolbar .note-color-palette div .note-color-btn {
  width: 1.25rem;
  height: 1.25rem;
}
.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-color-row,
.note-editor .note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-row {
  height: 1.25rem;
}
.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-color-reset,
.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-color-select,
.note-editor .note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-reset,
.note-editor .note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-select {
  font-size: .6875rem;
  margin: .25rem 0;
  padding: 0 .25rem;
  border-radius: $btn-border-radius-sm;
}
.note-popover .popover-content .note-color .note-dropdown-menu .note-palette,
.note-editor .note-toolbar .note-color .note-dropdown-menu .note-palette {
  width: 1.25rem * 8;
}
.note-popover .popover-content .note-color .note-dropdown-menu .note-palette:first-child,
.note-editor .note-toolbar .note-color .note-dropdown-menu .note-palette:first-child {
  margin: 0 .25rem;
}
.note-popover .popover-content .note-color-all .note-dropdown-menu,
.note-editor .note-toolbar .note-color-all .note-dropdown-menu {
  min-width: 20.875rem;
}

// Paragraph dropdown
.note-popover .popover-content .note-para .note-dropdown-menu,
.note-editor .note-toolbar .note-para .note-dropdown-menu {
  min-width: 13.5rem;
  padding: .25rem;
}
.note-popover .popover-content .note-para .note-dropdown-menu > div + div,
.note-editor .note-toolbar .note-para .note-dropdown-menu > div + div {
  margin-left: 0;
}

// Input
.note-input {
  border: $input-border-width solid $input-border-color;
  background: $input-bg;
  padding: $input-padding-y-sm $input-padding-x-sm;
  @include font-size($input-font-size-sm);
  @include border-radius($input-border-radius-sm);
}

// Focus
.note-editor.note-frame {
  @include transition($input-transition);
  &.focus {
    border-color: $input-focus-border-color;
    outline: 0;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    } @else {
      box-shadow: $input-focus-box-shadow;
    }
  }
}

// Placeholder
.note-editor.note-frame .note-placeholder,
.note-editor.note-airframe .note-placeholder {
  padding: $input-padding-y $input-padding-x;
}

// Validation
// .was-validated textarea:valid + .note-editor,
// textarea.is-valid + .note-editor {
//   border-color: $form-feedback-valid-color;
//   &.focus {
//     box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($form-feedback-valid-color, $input-btn-focus-color-opacity);
//   }
// }
.was-validated textarea:invalid + .note-editor,
textarea.is-invalid + .note-editor {
  border-color: $form-feedback-invalid-color;
  &.focus {
    box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($form-feedback-invalid-color, $input-btn-focus-color-opacity);
  }
}

// Tooltip
.note-tooltip-content {
  padding: $tooltip-padding-y $tooltip-padding-x;
  @include border-radius($tooltip-border-radius);
}
