.simplebar-track.simplebar-vertical {
  width: $simplebar-track-size;
}
.simplebar-track.simplebar-horizontal {
  height: $simplebar-track-size;
}
.simplebar-scrollbar::before {
  right: 0;
  left: 0;
}