.column-filter > th {
  vertical-align: middle !important;
  font-weight: normal;
  padding-right: $table-cell-padding-x !important;
  .table-sm & {
    padding-right: $table-cell-padding-x-sm !important;
  }
}